Lambda Function

Small anonymous functions defined using Lambda keyword. THey can have any number of arguments but only one expression. Used for short operations or as arguments to higher-order functions.

In [1]:
#syntax

lambda arguments: expression

In [2]:
add=lambda a,b: a+b
print(add(2,3))

5

In [4]:
isEven =lambda num : num%2==0
print(isEven(4))

True

The Map() function

THe map() function applies a given function to all items in an input list(or any other iterable) and returns a map object(an iterator). It's useful ofr transforming data in a list comprehensively.

In [5]:
def square(x):
    return x*x

In [6]:
nums=[1,2,3,4,5,6,7]

list(map(square, nums))

[1, 4, 9, 16, 25, 36, 49]

In [7]:
#using lambda function

list(map(lambda x:x*x, nums))

[1, 4, 9, 16, 25, 36, 49]

In [9]:
l1=[1,2,3,4]
l2=[5,6,7,8]

addLs=list(map(lambda x,y:x+y, l1, l2))

print(addLs)

[6, 8, 10, 12]

In [10]:
words=['apple', 'banana', 'cherry', 'dosa']
up_words=list(map(str.upper, words))
print(up_words)

['APPLE', 'BANANA', 'CHERRY', 'DOSA']

Filter Function

the filter() function constructs an iterator from elements of an iterable for which a function returns true. It is used to filter out items from a list( or any other iterable) based on a condition.

In [13]:
def even(x):
    if x%2==0:
        return True

ls=[1,2,3,4,5,6,7,8,9,0]

ev=list(filter(even, ls))
print(ev)

[2, 4, 6, 8, 0]

In [16]:
g5=list(filter(lambda x:x>5, ls))
print(g5)

[6, 7, 8, 9]

In [17]:
ev_andg5=list(filter(lambda x:x>5 and x%2==0, ls))
print(ev_andg5)

[6, 8]

In [18]:
people=[
    {'name':'Anurag', 'age':22},
    {'name':'Akarsh', 'age':25},
    {'name':'Chinmay', 'age':27}
]

def g20(person):
    return person['age']>24

list(filter(g20, people))

[{'name': 'Akarsh', 'age': 25}, {'name': 'Chinmay', 'age': 27}]