Dictionaries

are unordered collection of items that store data in key-value pairs. keys must be unique and immutable(strings, tuples, numbers) while values can be of any type.

In [1]:
stud={"name":"Anurag", "age":21, "caste":"jain"}
print(stud)

{'name': 'Anurag', 'age': 21, 'caste': 'jain'}

In [2]:
print(stud["age"])

21

In [3]:
print(stud.get('caste'))

jain

In [ ]:
print(stud.get('last_name', 'not available')) #giving default value to an unavailable key

not available

In [5]:
#dictionary are mutable 

stud['age']=40
print(stud)

stud['address']='Kolhapur'
print(stud)

{'name': 'Anurag', 'age': 40, 'caste': 'jain'}
{'name': 'Anurag', 'age': 40, 'caste': 'jain', 'address': 'Kolhapur'}

In [6]:
del stud['caste']
print(stud)

{'name': 'Anurag', 'age': 40, 'address': 'Kolhapur'}

In [7]:
#dic methods

keys=stud.keys()
print(keys)

values=stud.values()
print(values)

dict_keys(['name', 'age', 'address'])
dict_values(['Anurag', 40, 'Kolhapur'])

In [ ]:
items =stud.items()
print(items)  #tuples printing

dict_items([('name', 'Anurag'), ('age', 40), ('address', 'Kolhapur')])

In [9]:
stud_copy=stud
print(stud)
print(stud_copy)

{'name': 'Anurag', 'age': 40, 'address': 'Kolhapur'}
{'name': 'Anurag', 'age': 40, 'address': 'Kolhapur'}

In [ ]:
stud['name']='Akarsh'
print(stud)
print(stud_copy) #changes are also copied

{'name': 'Akarsh', 'age': 40, 'address': 'Kolhapur'}
{'name': 'Akarsh', 'age': 40, 'address': 'Kolhapur'}

In [11]:
#shallow copy

stud_coppy=stud.copy()
print(stud)
print(stud_copy)

{'name': 'Akarsh', 'age': 40, 'address': 'Kolhapur'}
{'name': 'Akarsh', 'age': 40, 'address': 'Kolhapur'}

In [13]:
stud['name']='Chinmay'
print(stud)
print(stud_copy)
print(stud_coppy)

{'name': 'Chinmay', 'age': 40, 'address': 'Kolhapur'}
{'name': 'Chinmay', 'age': 40, 'address': 'Kolhapur'}
{'name': 'Akarsh', 'age': 40, 'address': 'Kolhapur'}

In [ ]:
#iterating over dic

for key in stud.keys():
    print(key)

name
age
address

In [15]:
for value in stud.values():
    print(value)

Chinmay
40
Kolhapur

In [16]:
for key,value in stud.items():
    print(f"{key}:{value}")

name:Chinmay
age:40
address:Kolhapur

In [17]:
studs={
    'stud1':{'name':'Anurag', 'age':21},
    'stud2':{'name':'Akarsh', 'age':22},
}
print(studs)

{'stud1': {'name': 'Anurag', 'age': 21}, 'stud2': {'name': 'Akarsh', 'age': 22}}

In [18]:
print(studs['stud1']['name'])

Anurag

In [19]:
for stud_name, stud_age in studs.items():
    print(f"{stud_name}:{stud_age}")
    for key,value in stud_age.items():
        print(f"{key}:{value}")

stud1:{'name': 'Anurag', 'age': 21}
name:Anurag
age:21
stud2:{'name': 'Akarsh', 'age': 22}
name:Akarsh
age:22

In [25]:
#dic comprehension

squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [26]:
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [27]:
#e.g. counting the freq of elements in list

nums=[1,1,1,1,2,2,2,3,3,4,5,5,5,5,5]
freq={}

for num in nums:
    if num in freq:
        freq[num]+=1
    else:
        freq[num]=1
print(freq)

{1: 4, 2: 3, 3: 2, 4: 1, 5: 5}

In [28]:
#merge two dics

dic1={'a':1, 'b':3}
dic2={'b':2, 'c':4}

merged_dic={**dic1, **dic2}
print(merged_dic)

{'a': 1, 'b': 2, 'c': 4}