In [1]:
##Lists - ordered,mutable collections of items that contain items of diff datatypes.

myList=["Anurag", 1, 3.24, True, "Akarsh"]
print(myList)

['Anurag', 1, 3.24, True, 'Akarsh']

In [2]:
print(myList[4])

Akarsh

In [3]:
print(myList[1:])

[1, 3.24, True, 'Akarsh']

In [4]:
print(myList[1:4])

[1, 3.24, True]

In [6]:
#Modifying list elements

myList[0]="Andy"
print(myList)

['Andy', 1, 3.24, True, 'Akarsh']

In [7]:
myList.append("Orange")
print(myList)

['Andy', 1, 3.24, True, 'Akarsh', 'Orange']

In [8]:
myList.insert(1, "Chinmay")
print(myList)

['Andy', 'Chinmay', 1, 3.24, True, 'Akarsh', 'Orange']

In [9]:
myList.remove(1)
print(myList)

['Andy', 'Chinmay', 3.24, True, 'Akarsh', 'Orange']

In [10]:
##remove and return the last item

poppedEle=myList.pop()
print(poppedEle)

Orange

In [11]:
idx=myList.index("Akarsh")
print(idx)

4

In [12]:
myList.insert(4, "Andy")
print(myList.count("Andy"))

2

In [13]:
myList.sort()
print(myList)

TypeError: '<' not supported between instances of 'float' and 'str'

In [14]:
myList.reverse()
print(myList)

['Akarsh', 'Andy', True, 3.24, 'Chinmay', 'Andy']

In [15]:
myList.clear()
print(myList)

[]

In [16]:
##Slicing lists
nums=[1,2,3,4,5,6,7,8,9,0]
print(nums[2:5])
print(nums[:5])
print(nums[5:])
print(nums[::2])
print(nums[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 0]
[1, 3, 5, 7, 9]
[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
#iterating over lists
for num in nums:
    print(num)

1
2
3
4
5
6
7
8
9
0

In [20]:
#iterating with idx

for idx, num in enumerate(nums):
    print(idx,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 0

In [21]:
#list comprehension

list=[]
for x in range(10):
    list.append(x**2)

print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[x**2 for x in range(10)] ##list comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List Comprehension

Basics syntax [expression for item in iterable]

with conditional logic [expression for item in iterable if condition]

nested condition [expression for item1 in iterable1 for item2 in iterable2]

In [23]:
#basic list comprehension

square=[num**2 for num in range(1,10)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
#with condition

even_nums=[num for num in range(10) if num%2==0]
print(even_nums)

[0, 2, 4, 6, 8]

In [25]:
#nested comprehension

l1=[1,2,3,4]
l2=['a', 'b', 'c']

pair=[[i,j] for i in l1 for j in l2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c'], [4, 'a'], [4, 'b'], [4, 'c']]

In [26]:
##list comprehension with in built function calls

words=['Anurag', 'Suhas', 'Bhargav', 'Siddhesh']
lengths=[len(word) for word in words]
print(lengths)

[6, 5, 7, 8]