In [1]:
##Tuples - ordered collections of items that are immutable

nums=tuple([1,2,3,4,5])
nums

(1, 2, 3, 4, 5)

In [3]:
mix_tup=("Ak", "Am", 1, True, 3.14)
print(mix_tup)

('Ak', 'Am', 1, True, 3.14)

In [4]:
nums[0]

1

In [5]:
nums[0:4]

(1, 2, 3, 4)

In [6]:
## tuple operations

concat=nums+mix_tup
print(concat)

(1, 2, 3, 4, 5, 'Ak', 'Am', 1, True, 3.14)

In [7]:
mix_tup*2

('Ak', 'Am', 1, True, 3.14, 'Ak', 'Am', 1, True, 3.14)

In [8]:
#tuple methods

print(nums.count(1))

1

In [9]:
print(nums.index(3))

2

In [ ]:
##packing and unpacking

packed_tup=1, "hello", 32.22
print(packed_tup) #packed

(1, 'hello', 32.22)

In [11]:
a,b,c=packed_tup  #unpacking
print(a)
print(b)
print(c)

1
hello
32.22

In [12]:
##unpacking with *

first, *middle, last=nums
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [13]:
#nested tuple

nested_tup=((1,2,3), ('a', 'b', 'c'), (True, False))
print(nested_tup[0])
print(nested_tup[1][2])

(1, 2, 3)
c

In [14]:
for sub_tup in nested_tup:
    for item in sub_tup:
        print(item, end=" ")
    print()

1 2 3
a b c
True False